body {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%);
  text-align: center;
}
h1 {
  color: rgb(0, 0, 0);
  height: 400px;
  line-height: 750px;
  text-align: center;
}
h2 {
  height: 20px;
  line-height: normal;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.685);
  margin: auto;
  width: 17%;
  border: 3px hidden;
  border-radius: 12px;
  padding: 10px;
  font-family: "Courier New", monospace;
  font-size: 14px;
}

.topnav {
  height: 30px;
  line-height: normal;
  text-align: center;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #f2fadc;
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color:#dbe6c4;
	border-radius:42px;
	border:4px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Georgia;
	font-size:28px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}
.myButton:hover {
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color:#9ba892;
}
.myButton:active {
	position:relative;
	top:1px;
}
.pendu {
  position:absolute;
  left: 44%;
  top: 2%;
}
